
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
.wrapper {
  display: flex;
  /* justify-content: space-between; */
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: nowrap;
}
.fl-wr {
  flex-wrap: wrap;
}
.header {
  display: flex;
  width: 100%;
  align-items: stretch;
}
.main {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.column {
  box-sizing: border-box;
}
.column_left {
  width: 30%;
  background-color: #233a5f;
  
}
.column_right {
  width: 70%;
  background-color: #e5e5e5;
  
}
.column_left_header {
}
.column_right_header {
}
.column_left_main {
}
.column_right_main {
}
.footer {
  display: flex;
  box-sizing: border-box;
  height: 50px;
}
.column-footer {
  display: flex;
  justify-content: center;
  min-height: 80px;
  box-sizing: border-box;
  flex-direction: row;
  width: 100%;
  background-color: #d8d8d8;
}
.column-footer__item {
  display: flex;
  align-items: center;

  margin-right: 10px;
}
.column-footer__item p,
a {
  display: flex;
  text-decoration: none;
  align-items: center;
  color: #233a5f;
  font-size: 16px;
}
.column-footer__item a:hover {
  text-decoration: underline;
}

.column-footer__logo-rss {
  display: flex;
  width: 50px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  border-radius: 10px;
}
.column-footer__item p {
  margin: 0;
}
.navigation {
  background-color: #e5e5e5;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  justify-content: space-between;
  display: flex;
  width: 100%;
}
.content_wrapper {
  padding: 15px;
}
.navigation_items {
  list-style: none;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.navigation_items_item {
  display: flex;
}
.navigation_items_item a {
  text-decoration: none;
  display: flex;
  color: #233a5f;
  transition: 500ms;
  padding: 2px;
}
.navigation_items_item a:hover {
  color: white;
  transition: 500ms;
  background-color: #233a5f;
  border-radius: 5px;
  /* text-decoration: underline; */
}
.hamb {
  display: none;
}
.popup {
  display: none;
}
.name {
  font-style: normal;
  font-weight: 600;
  box-sizing: border-box;
  padding-top: 50px;
  font-size: 32px;
  line-height: 27px;
  /* identical to box height */
  text-align: center;
  color: #233a5f;
}
.position {
  display: flex;
  box-sizing: border-box;
  color: #233a5f;
  padding-top: 18px;
  font-size: 16px;
}
.mainImage {
  width: 200px;
  height: 200px;
  background-image: url("./images/myPhoto.jpg");
  background-size: cover;
  display: flex;
  border: 1px solid #ddd;
  border-radius: 50%;
  /* box-shadow: 0 2px 5px #aaa; */
}

.information {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.information_item {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  margin-top: 10px;
  background: #e5e5e5;
  border-radius: 4px;
  color: #233a5f;
  font-size: 16px;
  padding: 5px;
}
.information_item a {
  text-decoration: none;
  display: flex;
  color: #233a5f;
}
.information_item a:hover {
  text-decoration: underline;
}

.information-main {
  display: flex;
  padding-bottom: 15px;
  flex-direction: column;
  box-sizing: border-box;
}
.information-main__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 18px;
  text-align: start;
  color: #233a5f;
}
.information-main__title_left-column {
  color: #e5e5e5;
}
.information-main__line {
  display: block;
  height: 4px;
  width: 80px;
  border-radius: 2px;
  background-color: #233a5f;
  margin-top: 10px;
}
.information-main__line_left-column {
  background-color: #e5e5e5;
  margin-bottom: 16px;
}
.information-main__description {
  display: flex;
  margin-top: 16px;
  box-sizing: border-box;
  flex-direction: column;
}
.information-main__text {
  color: #233a5f;
  text-align: justify;
  word-wrap: break-word;
  font-size: 16px;
  margin: 0;
}
.description {
  display: flex;
  box-sizing: border-box;
}
.description__logo {
}
.description__logo-container {
  display: flex;
  width: 50px;
  height: 50px;
  background-size: contain;
  border: solid #233a5f 1px;
  border-radius: 10px;
}
.description__logo-container_footer {
  width: 25px;
  height: 25px;
}
.current-image-1 {
  background-image: url("./images/logoVRP.jpeg");
}
.current-image-2 {
  background-image: url("./images/noNameLogo.png");
}
.current-image-3 {
  background-image: url("./images/BNTU.jpeg");
}
.current-image-4 {
  background-image: url("./images/trailhead.jpeg");
}
.current-image-5 {
  background-image: url("./images/javaRush.jpeg");
}
.current-image-6 {
  background-image: url("./images/stepic.jpeg");
}
.current-image-7 {
  background-image: url("./images/itAcademy.jpeg");
}
.current-image-8 {
  background-image: url("./images/github.svg");
}
.current-image-8 {
  background-image: url("./images/github.svg");
}
.current-image-9 {
  background-image: url("./images/rs-logo.svg");
}

.description__items {
  display: flex;
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
}
.description__item {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  position: relative;
  padding-left: 40px;
}
.description__text-title {
  display: flex;
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  color: #233a5f;
}
.description__text-term {
  display: flex;
  margin: 0;
  font-size: 16px;
  color: #233a5f;
}
.description__text-location {
  margin: 0;
  display: flex;
  font-size: 16px;
  color: #233a5f;
}
.description__text-position {
  display: flex;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: #233a5f;
}
.description__text-description {
  margin: 0;
  text-align: justify;
  display: flex;
  font-size: 16px;
  color: #233a5f;
}
.description__text-description a {
  text-decoration: none;
  color: #233a5f;
}
.description__text-description a:hover {
  text-decoration: underline;
  display: flex;
  color: #233a5f;
}
.description__item::before {
  content: "";
  position: absolute;
  left: 25px;
  top: 12px;
  display: flex;
  width: 8px;
  height: 8px;
  background-color: #233a5f;
  border-radius: 50%;
}

